// Styles for the header.

.header
	color: $text-alt
	display: flex
	height: 6vh
	justify-content: flex-start
	width: 100vw

	h1
		font-size: 1.5em
		height: 6vh
		line-height: 6vh
		margin: 0
		text-align: center
		width: 100vw

	&--text
		font-weight: 400
		letter-spacing: -2px

		&--date
			font-weight: 100
			letter-spacing: -1px