// Styles for the header.

.header
	height: 100px
	min-height: $headerHeight
	width: 100vw

	&--container
		clear: both
		color: $text-alt
		display: flex
		height: 100px
		justify-content: flex-start
		min-height: $headerHeight
		width: 100vw

		&--left, &--right
			height: 100px
			min-height: $headerHeight
			width: 50vw

		&--left
			&--status
				margin-left: 16px
				width: 100%

		&--right
			align-items: center
			display: flex

			&--wrapper
				height: 100px
				width: calc(100% - 1px)

				h1, h2
					font-size: 1.5em
					margin-right: 15px
					text-align: right

				&--text
					font-weight: 400
					letter-spacing: -2px

					&--date
						font-weight: 100
						letter-spacing: -1px
			
			&--button-wrapper
				height: 100px
				overflow: visible
				width: 1px

				&--right-menu-button
					border: 2px solid $text
					border-radius: 24px
					font-size: 1.6em
					padding: 0.4em 1.1em 0.4em 0.6em
					position: relative
					right: 77px
					top: 61vh