// Styles for the Home Control section.

.hc
	align-items: center
	display: flex
	height: 23vh
	width: 100vw

	&--item
		align-items: center
		display: flex
		height: 150px
		justify-content: center
		width: 33.3%

		&--wrapper
			align-items: center
			border: 2px solid $text
			border-radius: 24px
			display: flex
			flex-flow: column nowrap
			height: 90%
			justify-content: space-evenly
			width: 85%

			&:hover
				border-color: $text-alt
				transition: border 0.2s

			&--menu-button
				transform: scale(var(--ggs, 1.6))

				&:hover
					color: $text-alt
					transition: color 0.2s

			&--header
				color: $text-alt
				font-size: 1.3em
				margin: 0

			&--button
				transform: scale(var(--ggs, 2.2))

				&:hover
					color: $text-alt
					transition: color 0.2s