// Keyframe animations.

// Sliding out the menu.
@keyframes right-menu-slide-in
	0%
		transform: translate(100vw, 0)
	100%
		transform: translate(0, 0)

@keyframes right-menu-slide-out
	0%
		transform: translate(0, 0)
	100%
		transform: translate(100vw, 0)

// Sliding the Home Control menu.
@keyframes hcmenu-slide-in
	0%
		transform: translate(0, 100vh)
	100%
		transform: translate(0, 0)

@keyframes hcmenu-slide-out
	0%
		transform: translate(0, 0)
	100%
		transform: translate(0, 100vh)