// Keyframe animations.

// Fade in the app.
@keyframes fade-app-in
	0%
		opacity: 0
	100%
		opacity: 1

// Sliding the Right menu.
@keyframes menu-appear-right
	0%
		opacity: 0
		transform: translate(5vw, 0)
	100%
		opacity: 1
		transform: translate(0, 0)

// Sliding the Home Control menu.
@keyframes menu-appear-bottom
	0%
		opacity: 0
		transform: translate(0, 5vh)
	100%
		opacity: 1
		transform: translate(0, 0)

// An animation to go through the colors of the rainbow for the ledstrip status.
@keyframes rainbow
	0%
		background: red
	12.5%
		background: orange
	25%
		background: yellow
	37.5%
		background: green
	50%
		background: aqua
	62.5%
		background: blue
	75%
		background: purple
	87.5%
		background: pink
	100%
		background: red