// The styles for the menu.

.right-menu
	background: $bg-alt
	height: 100vh
	position: relative
	right: 100vw
	top: -100px
	width: 100vw
	z-index: 9999

	&--menu
		height: 100vh
		width: 100vw

		&--h1
			bottom: -65vh
			height: 64px
			left: 0
			line-height: 64px
			margin: 0 5vw
			position: relative
			width: 90vw

			span
				cursor: pointer
				float: right

		&--version-number
			color: $text-alt
			margin: 0 4vw
			position: relative
			text-align: right
			top: -32.7vh
			width: 92vw

			em
				color: $text

.right-menu-active
	animation: right-menu-slide-in 0.1s ease-out
	// display: block
	right: 0

.right-menu-inactive
	animation: right-menu-slide-out 0.2s ease-out
	// display: none
	right: -100vw