// The styles for the menu.

.right-menu
	animation: right-menu-slide-in 0.2s ease-in-out
	background: $bg-alt
	height: 100vh
	position: absolute
	right: 0
	top: 0
	width: 100vw
	z-index: 9999

	&--title
		animation: right-menu-slide-in 0.2s ease-in-out
		bottom: 0
		height: 64px
		right: 0
		line-height: 64px
		margin: 0 5vw
		position: absolute
		width: 90vw
		
		&--close-button
			cursor: pointer
			float: right

		span
			color: $text