// Style for the most used places.

.mup
	align-items: center
	display: flex
	flex-flow: row nowrap
	height: 14vh
	justify-content: space-evenly
	width: 100vw

	&--button
		height: 62px
		width: 62px

		&--circle
			align-items: center
			background: lighten($bg, 8%)
			border-radius: 50%
			color: $text
			display: flex
			font-size: 40.6px //2.9em
			height: 62px
			justify-content: center
			width: 62px

			&:hover
				color: $text-alt
				transition: color 0.2s

// Special hover instructions for the self made pihole icon.
.pi-hole:hover
	background: $text-alt

	&:before, &:after
		background: $text-alt