// The variables used.

// Vars used for the backgrounds and texts.
$bg: #3d3c3c
$bg-alt: lighten($bg, 3%)
$text: #adadad
$text-alt: #5893c3

// Can't remember what these were for.
// $buttonOff: darken($text, 20%)
// $buttonOn: lighten($text, 20%)

// The margin most items have between them and the left border.
$marginLeft: 32px