// The variables used.

// Vars used for the backgrounds and texts.
$bg: #2b4c6f
$bg-alt: darken($bg, 10%)
$text: #738ca6
$text-alt: lighten(#738ca6, 30%)
// Below are the old colors.
// $bg: #333
// $bg-alt: lighten($bg, 5%)
// $text: lighten(#2c3e50, 30%)
// $text-alt: #ddd

// Can't remember what these were for.
$buttonOff: darken($text, 20%)
$buttonOn: lighten($text, 20%)

// Header height and the margin most items have between them and the left border.
$headerHeight: 80px
$marginLeft: 32px